.blog {
  width: 100%;
  padding: 0;
  margin: 0 0 119px 0;
}

.blog__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 40px;
}

.blog__wrapper h2 {
  padding: 0;
  margin: 0 auto 19px;
  font-family: $serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #1d1613;
  max-width: 80%;
}

.blog__main-link {
  height: max-content;
  display: block;
  text-decoration: none;
  max-width: 85%;
  margin: 0 auto 60px;
}

.blog__main-link p {
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #1d1613;
  border-bottom: 1px solid rgb(168, 123, 98);
  max-width: max-content;
  padding: 0 0 4px 0;
  margin: 0 auto;


  &:hover {
    color: #a87b62;
  }

  &:active {
    opacity: 0.7;
    border-color: rgba(168, 123, 98, 0.7);
  }
}

.blog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 30px;
}

.blog__item {
  max-width: 100%;
  min-height: 300px;
  background-color: #f0eae4;
  display: flex;


  @media (min-width: 1023px) and (max-width: 1250px) {
    min-height: calc(1vw * 300 / (1250 / 100));
  }
}

.blog__img-content {
  width: 50%;
  height: 100%;
}

.blog__article-first:nth-child(3n-2) .blog__img-content {
  background: url("/img/blog-img-1.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url("/img/blog-img-1@2x.jpg") no-repeat;
    background-size: cover;
  }
}

.blog__article-second:nth-child(3n-1) .blog__img-content {
  background: url("/img/blog-img-2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  order: 2;

  @media (min-resolution: 2dppx) {
    background: url("/img/blog-img-2@2x.jpg") no-repeat;
    background-size: cover;
  }
}

.blog__article-main .blog__img-content,
.blog__article-second:nth-child(3n) .blog__img-content {
  background: url("/img/blog-img-3.jpg") no-repeat;
  background-position: top;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url("/img/blog-img-3@2x.jpg") no-repeat;
    background-size: cover;
  }
}

.blog__article-main .blog__img-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blog__article-main {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  min-height: 630px;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;

  @media (min-width: 1023px) and (max-width: 1250px) {
    min-height: calc(1vw * 630 / (1250 / 100));
  }
}

.blog__item span {
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #9b9997;
  display: block;
  margin: 0 0 13px 0;
}

.blog__item h3 {
  padding: 0;
  margin: 0 0 37px 0;
  font-family: $serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  max-width: 170px;
}

.blog__link {
  height: max-content;
  display: block;
  text-decoration: none;
  max-width: 100%;
  margin: 0 auto 15px;
}

.blog__link p {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4px;
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #1d1613;
  display: block;
  border-bottom: 1px solid #a87b62;

  &:hover {
    color: rgb(168, 123, 98);
  }

  &:active {
    color: rgba(168, 123, 98, 0.5);
    border-color: rgba(168, 123, 98, 0.5);
  }
}

.blog__text-content {
  width: 50%;
  background: #f0eae4;
  box-sizing: border-box;
  padding: 67px 20px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: 1023px) and (max-width: 1240px) {
    padding-top: calc(1vw * 67 / (1240 / 100));
  }
}

.blog__article-main .blog__text-content {
  height: max-content;
  min-height: 300px;
  z-index: 2;

  @media (min-width: 1023px) and (max-width: 1250px) {
    min-height: calc(1vw * 300 / (1250 / 100));
  }
}

@media (max-width: $desktop-width) {
  .blog {
    width: 100%;
    padding: 0;
    margin: 0 0 19px;
  }

  .blog__wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 45px;
  }

  .blog__wrapper h2 {
    padding: 0;
    margin: 0 auto 20px;
    font-family: $serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #1d1613;
    max-width: 85%;
  }

  .blog__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: unset;
  }

  .blog__item {
    background-color: #f0eae4;
    display: flex;
    align-items: stretch;
    min-height: 300px;
    margin-bottom: 50px;
  }

  .blog__img-content {
    display: block;
    width: 50%;
    height: unset;
  }

  .blog__article-first:nth-child(3n-2) .blog__img-content {
    background: url("/img/tablet/blog-img-1-tablet.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("/img/tablet/blog-img-1-tablet@2x.jpg") no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .blog__article-second:nth-child(3n-1) .blog__img-content {
    background: url("/img/tablet/blog-img-2-tablet.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    order: 2;

    @media (min-resolution: 2dppx) {
      background: url("/img/tablet/blog-img-2-tablet@2x.jpg") no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .blog__article-main .blog__img-content,
  .blog__article-second:nth-child(3n) .blog__img-content {
    background: url("/img/tablet/blog-img-3-tablet.jpg") no-repeat;
    background-position: top;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("/img/tablet/blog-img-3-tablet@2x.jpg") no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .blog__article-main .blog__img-content {
    position: relative;
    width: 50%;
    height: unset;
  }

  .blog__article-main {
    grid-column: unset;
    grid-row: unset;
    min-height: 300px;
    position: relative;

    @media (min-width: 1023px) and (max-width: 1250px) {
      min-height: calc(1vw * 630 / (1250 / 100));
    }
  }

  .blog__item span {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #9b9997;
    display: block;
  }

  .blog__item h3 {
    padding: 0;
    margin: 0 0 37px 0;
    font-family: $serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    color: #000000;
  }

/*   .blog__item span {
    width: max-content;
    margin: 0 auto;
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #1d1613;
    display: block;
    border-bottom: 1px solid #a87b62;
  } */

  .blog__text-content {
    width: 50%;
    background: #f0eae4;
    box-sizing: border-box;
    padding: 67px 75px 20px;
    height: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .blog__article-main .blog__text-content {
    height: max-content;
    min-height: 300px;
    z-index: 2;
    padding-top: 84px;

    @media (min-width: 1023px) and (max-width: 1250px) {
      min-height: calc(1vw * 300 / (1250 / 100));
    }
  }
}

@media (max-width: $tablet-width) {
  .blog {
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .blog__wrapper {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .blog__wrapper h2 {
    padding: 0;
    margin: 0 auto 19px;
    font-family: $serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #1d1613;
  }

  .blog__main-link {
    height: max-content;
    display: block;
    text-decoration: none;
    max-width: 85%;
    margin: 0 auto 50px;
  }

  .blog__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .blog__item {
    margin-bottom: 40px;
  }

  .blog__item {
    background-color: #f0eae4;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: unset;
  }

  .blog__img-content {
    display: block;
    width: 100%;
    min-height: 256px;
  }

  .blog__article-first:nth-child(3n-2) .blog__img-content {
    background: url("/img/mobile/blog-img-1-mobile.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("/img/mobile/blog-img-1-mobile@2x.jpg") no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .blog__article-second:nth-child(3n-1) .blog__img-content {
    background: url("/img/mobile/blog-img-2-mobile.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    order: 0;

    @media (min-resolution: 2dppx) {
      background: url("/img/mobile/blog-img-2-mobile@2x.jpg") no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .blog__article-main .blog__img-content,
  .blog__article-second:nth-child(3n) .blog__img-content {
    background: url("/img/mobile/blog-img-3-mobile.jpg") no-repeat;
    background-position: top;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("/img/mobile/blog-img-3-mobile@2x.jpg") no-repeat;
      background-position: top;
      background-size: cover;
    }
  }

  .blog__article-main .blog__img-content {
    position: relative;
    width: 100%;
    height: unset;
  }

  .blog__article-main {
    grid-column: unset;
    grid-row: unset;
    min-height: unset;
    position: relative;

    @media (min-width: 1023px) and (max-width: 1250px) {
      min-height: calc(1vw * 630 / (1250 / 100));
    }
  }

  .blog__item span {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #9b9997;
    display: block;
  }

  .blog__item h3 {
    padding: 0;
    margin: 0 0 37px 0;
    font-family: $serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    color: #000000;
  }

/*   .blog__item span {
    width: max-content;
    margin: 0 auto;
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #1d1613;
    display: block;
    border-bottom: 1px solid #a87b62;
  } */

  .blog__text-content {
    min-height: 256px;
    width: 100%;
    background: #f0eae4;
    box-sizing: border-box;
    padding: 46px 49px 20px;
    height: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 1023px) and (max-width: 1250px) {
      padding: 20px calc(1vw * 49 / (1250 / 100));
    }
  }

  .blog__article-main .blog__text-content {
    height: max-content;
    min-height: 256px;
    z-index: 2;
    padding-top: 63px;

    @media (min-width: 1023px) and (max-width: 1250px) {
      min-height: calc(1vw * 300 / (1250 / 100));
    }
  }
}
