.catalog-promo {
  margin: 0 0 120px 0;
  padding: 0;
  width: 100%;
}

.catalog-promo__wrapper {
  width: 100%;
  background: #a87b62 url("/img/catalog/background-top-desktop.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 261px;
  padding: 102px 0 50px 0;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background: #a87b62 url("/img/catalog/background-top-desktop@2x.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.catalog-promo__wrapper p {
  text-transform: uppercase;
  max-width: 75%;
  padding: 0;
  margin: 0 auto -6px;
  text-align: center;
  font-family: $serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  color: #ffffff;
}

.catalog-promo__wrapper span {
  max-width: 75%;
  padding: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: $serif;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #ffffff;
}

@media (max-width: $desktop-width) {
  .catalog-promo {
    margin: 0 0 120px 0;
    padding: 0;
    width: 100%;
  }

  .catalog-promo__wrapper {
    width: 100%;
    background: #a87b62 url("/img/catalog/background-top-desktop.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 261px;
    padding: 102px 0 50px 0;
    box-sizing: border-box;

    @media (min-resolution: 2dppx) {
      background: #a87b62 url("/img/catalog/background-top-desktop@2x.jpg") no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .catalog-promo__wrapper p {
    text-transform: uppercase;
    max-width: 75%;
    padding: 0;
    margin: 0 auto -6px;
    text-align: center;
    font-family: $serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    color: #ffffff;
  }

  .catalog-promo__wrapper span {
    max-width: 75%;
    padding: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: $serif;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #ffffff;
  }
}

@media (max-width: $tablet-width) {
  .catalog-promo {
    margin: 0 0 120px 0;
    padding: 0;
    width: 100%;
  }

  .catalog-promo__wrapper {
    width: 100%;
    background: #a87b62 url("/img/catalog/background-top-desktop.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 261px;
    padding: 102px 0 50px 0;
    box-sizing: border-box;

    @media (min-resolution: 2dppx) {
      background: #a87b62 url("/img/catalog/background-top-desktop@2x.jpg") no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .catalog-promo__wrapper p {
    text-transform: uppercase;
    max-width: 75%;
    padding: 0;
    margin: 0 auto -6px;
    text-align: center;
    font-family: $serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    color: #ffffff;
  }

  .catalog-promo__wrapper span {
    max-width: 75%;
    padding: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: $serif;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: #ffffff;
  }
}
