.gallery {
  width: 100%;
  margin: 0 0 130px 0;
}

.gallery__wrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 40px;
}

.gallery__list {
  // padding: 0 40px;
  box-sizing: border-box;
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: 19.66% 34.1% 19.66% 19.66%;
  padding: 0;
  margin: 0;
  column-gap: 27px;
  row-gap: 34px;

  @media (min-width: 1023px) and (max-width: 1350px) {
    column-gap: calc(1vw * 27 / (1250 / 100));
  }
}

.gallery__type-large {
  grid-column: 2/3;
  grid-row: 1/3;
}

.gallery__item {
  width: 100%;
  height: 100%;
  // margin: 0 27px 34px 0;
  object-fit: contain;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__type-medium {
  width: 230px;
  height: 230px;
  object-fit: cover;

  @media (min-width: 1023px) and (max-width: 1300px) {
    width: calc(1vw * 230 / (1300 / 100));
    height: calc(1vw * 230 / (1300 / 100));
  }
}

.gallery__type-large {
  width: 399px;
  height: 412px;

  @media (min-width: 1023px) and (max-width: 1300px) {
    width: calc(1vw * 399 / (1300 / 100));
    height: calc(1vw * 412 / (1300 / 100));
  }
}

.gallery__type-small {
  width: 230px;
  height: 150px;

  @media (min-width: 1023px) and (max-width: 1300px) {
    width: calc(1vw * 230 / (1300 / 100));
    height: calc(1vw * 150 / (1300 / 100));
  }
}


@media (max-width: $desktop-width) {
  .gallery {
    width: 100%;
    margin: 0;
  }

  .gallery__wrapper {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 45px;
  }

  .gallery__list {
    // padding: 0 40px;
    box-sizing: border-box;
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 19.66% 34.1% 19.66% 19.66%;
    padding: 0;
    margin: 0;
    column-gap: 27px;
    row-gap: 34px;

    @media (min-width: 1023px) and (max-width: 1350px) {
      column-gap: calc(1vw * 27 / (1250 / 100));
    }
  }

  .gallery__type-large {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .gallery__item {
    width: 100%;
    height: 100%;
    // margin: 0 27px 34px 0;
    object-fit: contain;
  }

  .gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* .gallery__type-medium {
    width: 230px;
    height: 230px;
    object-fit: cover;
  }

  .gallery__type-large {
    width: 399px;
    height: 412px;
  }

  .gallery__type-small {
    width: 230px;
    height: 150px;
  }
   */
}
