.goods-card__list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0 0 52px 0;
}

.goods-card__item {
  padding: 0;
  margin: 0 0 35px 30px;
  max-width: 270px;
  height: max-content;
  box-sizing: border-box;

  @media (min-width: 1023px) and (max-width: 1250px) {
    margin-left: calc(1vw * 25 / (1250 / 100));
  }
}

.goods-card__link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  outline: none;
}

.goods-card__item h4 {
  padding: 0;
  margin: 0 0 7px 0;
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #1d1613;
  text-align: center;
}

.goods-card__link:hover p {
  color: rgb(168, 123, 98);
}

.goods-card__link:hover h4 {
  color: rgb(168, 123, 98);
}

.goods-card__link:active p {
  color: rgba(168, 123, 98, 0.7);
}

.goods-card__link:active h4 {
  color: rgba(168, 123, 98, 0.7);
}

.goods-card__link:focus .goods-card__img-content {
  border: 1px solid rgb(168, 123, 98);
}

.goods-card__item p {
  padding: 0;
  margin: 0 0 0 0;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #1d1613;
}

.goods-card__img-content picture,
.goods-card__img-content img {
  width: 100%;
  height: 100%;
}

.goods-card__img-content {
  width: 270px;
  height: 272px;
  margin: 0 0 21px 0;
  box-sizing: border-box;

  @media (min-width: 1023px) and (max-width: 1250px) {
    width: calc(1vw * 270 / (1250 / 100));
    height: calc(1vw * 272 / (1250 / 100));
  }
}

@media (max-width: $desktop-width) {
  .goods-card__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0 auto 52px;
    overflow: visible;
  }

  .goods-card__img-content {
    width: 206px;
    height: 208px;

    @media (min-width: 767px) and (max-width: 1024px) {
      width: calc(1vw * 206 / (767 / 100));
      height: calc(1vw * 208 / (767 / 100));
    }
  }

  .goods-card__item {
    padding: 0;
    margin: 0 0 35px auto;
    max-width: 270px;
    height: max-content;
  }

  .goods-card__item:nth-child(3n-2) {
    margin: 0 0 35px 0;
  }
}

@media (max-width: $tablet-width) {
  .goods-card__list {
    width: unset;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0 auto 52px;
    overflow: visible;
  }

  .goods-card__img-content {
    width: 130px;
    height: 136px;
    margin: 0 0 16px;

    @media (min-width: 320px) and (max-width: 768px) {
      width: calc(1vw * 130 / (320 / 100));
      height: calc(1vw * 136 / (320 / 100));
    }
  }

  .goods-card__item {
    padding: 0;
    margin: 0 0 25px 0;
    max-width: min-content;
    height: max-content;
  }

  .goods-card__item:nth-child(3n-2) {
    margin: 0 0 0 0;
  }
}
