.login {
  width: 100%;
  padding: 0;
  height: calc(100vh - 205px);
}

.login-form {
  margin: 0 auto;
  width: 430px;
  height: 586px;
  box-sizing: border-box;
  background-color: #f0eae4;
  background-image: url("/img/login/background-desktop.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 32px rgba(226, 221, 215, 0.24);
  padding: 198px 45px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 55;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/login/background-desktop@2x.jpg") no-repeat;
    background-size: contain;
  }
}

.login-form__remember-password {
  display: block;
  text-decoration: none;
}

.login-form__button-closed {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}

.login-form__button-login {
  cursor: pointer;
}

.login-form__input {
  margin: 0 0 40px 0;
}
