.main-nav {
  padding: 18px 0 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-nav__button {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  top: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;

  &::before {
    @include pseudo;
    width: 25px;
    height: 2px;
    background: #1d1613;
    top: 50%;
    left: 4px;
    box-shadow: 0 6px 0 0 #1d1613, 0 -6px 0 0 #1d1613;
  }

  &:hover::before {
    opacity: 0.5;
  }

  &:focus::before {
    opacity: 0.7;
  }
}

.main-nav__list {
  max-width: 85%;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -35px 0 0;
}

.main-nav__item {
  margin: 0 35px 0 0;
}

.main-nav__link {
  display: block;
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1d1613;

  &:hover {
    color: #a87b62;
  }

  &:focus {
    color: rgba(168, 123, 98, 0.7);
  }
}

@media (max-width: $desktop-width) {
  .main-nav {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .main-nav__list {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;
  }

  .main-nav__item {
    margin: 0 0 0 0;
  }

  .main-nav__link {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgb(255, 255, 255);

    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .main-nav__button::before {
    @include pseudo;
    background: #ffffff;
    box-shadow: 0 6px 0 0 #ffffff, 0 -6px 0 0 #ffffff;
  }
}
