.page-footer {
  margin: 0 0 0 0;
  padding: 89px 0 99px 0;
  width: 100%;
  background-color: #000000;
  min-height: 338px;
  box-sizing: border-box;
}

.page-footer__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.page-footer__subscription {
  width: 45%;
  padding: 0 26px 0 0;
  box-sizing: border-box;

  @media (min-width: 1023px) and (max-width: 1350px) {
    padding-right: calc(1vw * 26 / (1350 / 100));
  }
}

.page-footer__information {
  width: 55%;
}

.page-footer__information-columns-area {
  display: grid;
  grid-template-columns: 34% 32% 25%;
  grid-template-rows: 1fr;
  row-gap: 30px;
  column-gap: 20px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 6px 0 0 66px;

  @media (min-width: 1023px) and (max-width: 1200px) {
    column-gap: calc(1vw * 20 / (1200 / 100));
    padding-left: calc(1vw * 66 / (1200 / 100));
    grid-template-columns: 34% 27% 25%;
  }
}

/* .page-footer__information-column-list {
  max-width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-rows: 1fr;
  row-gap: 30px;
} */

.page-footer__information-column-list {
  max-width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.page-footer__information-link {
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;

  &:hover svg,
  &:hover h3 {
    color: #a87b62;
    fill: #a87b62;
  }

  &:active svg,
  &:active h3 {
    color: rgba(168, 123, 98, 0.7);
    fill: rgba(168, 123, 98, 0.7);
  }
}

.page-footer__information-item:not(:last-child) {
  margin-bottom: 21px;
}

.page-footer__information-link h3 {
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  padding: 0;
  margin: 0 0 0 0;
  width: 100%;
}

.page-footer__subscription h3 {
  max-width: 100%;
  font-family: $serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  word-spacing: 0.14em;
  padding: 0;
  margin: 0 0 8px;
  color: #ffffff;
}

.page-footer__subscription p {
  max-width: 100%;
  font-family: $sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #9b9997;
  padding: 0;
  margin: 0 0 34px 0;
}

.page-footer__button-submit {
  position: absolute;
  width: 105px;
  height: max-content;
  display: flex;
  padding-left: 0;
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='11' viewBox='0 0 30 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.5H29M29 5.5L23.5135 1M29 5.5L23.5135 10' stroke='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
  top: 9px;
  right: -1px;
  cursor: pointer;

  &:hover {
    color: #a87b62;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='11' viewBox='0 0 30 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.5H29M29 5.5L23.5135 1M29 5.5L23.5135 10' stroke='%23a87b62'/%3E%3C/svg%3E");
  }

  &:active {
    color: rgba(168, 123, 98, 0.7);
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='11' viewBox='0 0 30 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.5H29M29 5.5L23.5135 1M29 5.5L23.5135 10' stroke='%23a87b62b3'/%3E%3C/svg%3E%0A");
  }
}


.page-footer__form input {
  display: block;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-color: transparent;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9b9997;
  padding: 0 118px 0 0;
  outline: none;
  cursor: pointer;

  @media (min-width: 1023px) and (max-width: 1350px) {
    column-gap: calc(1vw * 27 / (1250 / 100));
  }

  &:hover {
    border-bottom: 1px solid #a87b62;
  }

  &:active {
    border-bottom: 1px solid rgba(168, 123, 98, 0.7);
  }

  &:hover::placeholder {
    color: #a87b62;
  }

  &:active::placeholder {
    opacity: 0.7;
  }
}

.page-footer__form {
  position: relative;
  width: 100%;
}

.page-footer__information-link svg {
  fill: #ffffff;
  margin: 2px 15px 0 0;
  width: 15px;
  height: 15px;
}

.page-footer__column-social-facebook svg {
  margin: 3px 18px 0 3px;
  width: 8px;
  height: 15px;
}

@media (max-width: $desktop-width) {
  .page-footer {
    margin: 0 0 0 0;
    padding: 50px 0 60px 0;
    width: 100%;
    background-color: #000000;
    min-height: 338px;
    box-sizing: border-box;
  }

  .page-footer__wrapper {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 45px;
  }

  .page-footer__subscription,
  .page-footer__information {
    width: 100%;
    max-width: 820px;
  }

  .page-footer__subscription {
    margin: 0 0 47px 0;
  }

  .page-footer__information-columns-area {
    display: grid;
    grid-template-columns: 38.3% 30.2% 1fr;
    row-gap: 30px;
    width: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  .page-footer__information-link {
    text-decoration: none;
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;

    &:hover svg,
    &:hover h3 {
      color: #a87b62;
      fill: #a87b62;
    }

    &:active svg,
    &:active h3 {
      color: rgba(168, 123, 98, 0.7);
      fill: rgba(168, 123, 98, 0.7);
    }
  }

  .page-footer__information-link h3 {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    padding: 0;
    margin: 0 0 0 0;
    width: 90%;
  }

  .page-footer__subscription h3 {
    max-width: 100%;
    font-family: $serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.024em;
    padding: 0;
    margin: 0 0 10px;
    color: #ffffff;
  }

  .page-footer__subscription p {
    margin: 0 0 35px 0;
  }

  .page-footer__button-submit {
    position: absolute;
    width: 105px;
    height: max-content;
    display: flex;
    padding-left: 0;
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='11' viewBox='0 0 30 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.5H29M29 5.5L23.5135 1M29 5.5L23.5135 10' stroke='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    top: 7px;
    right: 0;
    cursor: pointer;

    &:hover {
      color: #a87b62;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='11' viewBox='0 0 30 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.5H29M29 5.5L23.5135 1M29 5.5L23.5135 10' stroke='%23a87b62'/%3E%3C/svg%3E");
    }

    &:active {
      color: rgba(168, 123, 98, 0.7);
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='11' viewBox='0 0 30 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.5H29M29 5.5L23.5135 1M29 5.5L23.5135 10' stroke='%23a87b62b3'/%3E%3C/svg%3E%0A");
    }
  }

  .page-footer__form input {
    display: block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-color: transparent;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9b9997;
    padding: 0 118px 0 0;
    outline: none;
    cursor: pointer;

    @media (min-width: 1023px) and (max-width: 1350px) {
      column-gap: calc(1vw * 27 / (1250 / 100));
    }

    &:hover {
      border-bottom: 1px solid #a87b62;
    }

    &:active {
      border-bottom: 1px solid rgba(168, 123, 98, 0.7);
    }

    &:hover::placeholder {
      color: #a87b62;
    }

    &:active::placeholder {
      opacity: 0.7;
    }
  }

  .page-footer__form {
    position: relative;
    width: 86%;
    max-width: 653px;
  }

  .page-footer__information-link svg {
    fill: #ffffff;
    margin: 2px 15px 0 0;
    width: 15px;
    height: 15px;
  }

  .page-footer__column-social-facebook svg {
    margin: 3px 18px 0 3px;
    width: 8px;
    height: 15px;
  }
}

@media (max-width: $tablet-width) {
  .page-footer {
    margin: 0 0 0 0;
    padding: 49px 0 40px 0;
    width: 100%;
    background-color: #000000;
    min-height: 338px;
    box-sizing: border-box;
  }

  .page-footer__wrapper {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px;
  }

  .page-footer__subscription,
  .page-footer__information {
    width: 100%;
  }

  .page-footer__subscription {
    margin: 0 0 46px 0;
    padding: 0;
  }

  .page-footer__information-columns-area {
    display: flex;
    flex-direction: column;
    row-gap: unset;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .page-footer__information-column-list {
    list-style-type: none;
    padding: 0;
    display: block;
    grid-auto-rows: unset;
    row-gap: unset;
    margin: 0 0 44px 0;
    max-width: 455px;
  }

  .page-footer__column-social {
    display: flex;
    grid-auto-rows: unset;
    row-gap: unset;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 20px 0 0;
  }

  .page-footer__column-social h3 {
    display: none;
  }

  .page-footer__information-link {
    width: 100%;
    text-decoration: none;
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;

    &:hover svg,
    &:hover h3 {
      color: #a87b62;
      fill: #a87b62;
    }

    &:active svg,
    &:active h3 {
      color: rgba(168, 123, 98, 0.7);
      fill: rgba(168, 123, 98, 0.7);
    }
  }

  .page-footer__information-link:not(:last-child) {
    margin-bottom: 21px;
  }

  .page-footer__information-link h3 {
    width: 90%;
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    padding: 0;
    margin: 0 0 0 0;
  }

  .page-footer__column-social .page-footer__information-link {
    width: max-content;
    margin: 0 30px 30px 0;
  }

  .page-footer__subscription h3 {
    font-family: $serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: unset;
    padding: 0;
    margin: 0 0 14px 0;
    color: #ffffff;
    max-width: 80%;
  }

  .page-footer__subscription p {
    font-family: $sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #9b9997;
    padding: 0;
    margin: 0 0 33px 0;
    max-width: 90%;
  }

  .page-footer__button-submit {
    position: absolute;
    width: 105px;
    height: max-content;
    display: flex;
    padding-left: 0;
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='11' viewBox='0 0 30 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.5H29M29 5.5L23.5135 1M29 5.5L23.5135 10' stroke='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    top: 6px;
    right: 0;
    cursor: pointer;

    &:hover {
      color: #a87b62;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='11' viewBox='0 0 30 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.5H29M29 5.5L23.5135 1M29 5.5L23.5135 10' stroke='%23a87b62'/%3E%3C/svg%3E");
    }

    &:active {
      color: rgba(168, 123, 98, 0.7);
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='11' viewBox='0 0 30 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.5H29M29 5.5L23.5135 1M29 5.5L23.5135 10' stroke='%23a87b62b3'/%3E%3C/svg%3E%0A");
    }
  }


  .page-footer__form input {
    display: block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-color: transparent;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9b9997;
    padding: 0 118px 0 0;
    outline: none;
    cursor: pointer;

    @media (min-width: 1023px) and (max-width: 1350px) {
      column-gap: calc(1vw * 27 / (1250 / 100));
    }

    &:hover {
      border-bottom: 1px solid #a87b62;
    }

    &:active {
      border-bottom: 1px solid rgba(168, 123, 98, 0.7);
    }

    &:hover::placeholder {
      color: #a87b62;
    }

    &:active::placeholder {
      opacity: 0.7;
    }
  }

  .page-footer__form {
    position: relative;
    width: 100%;
    max-width: 527px;
  }

  .page-footer__information-link svg {
    fill: #ffffff;
    margin: 0;
    width: 20px;
    height: 21px;
  }

  .page-footer__column-social-facebook svg {
    margin: 0;
    width: 12px;
    height: 21px;
  }

  .page-footer__column-social-twitter svg {
    height: 18px;
  }
}
