.questions {
  padding: 0;
  margin: 0 0 102px 0;
  width: 100%;
}

.questions__wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 40px;
}

.questions__wrapper h2 {
  font-family: $serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #1d1613;
  max-width: 85%;
  padding: 0;
  margin: 0 auto 49px;
}

.questions__list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #a87b62;
  box-sizing: border-box;
}

.questions__item {
  padding: 0 0 0 0;
}

.questions__item:not(:last-child) {
  border-bottom: 1px solid #a87b62;
  box-sizing: border-box;
}

.questions__item p {
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #1d1613;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  padding: 43px 40px 0 42px;
  //margin: 0 0 50px 0;

  &::before {
    @include pseudo;
    width: 11px;
    height: 11px;
    border-left: 1px solid #a87b62;
    border-bottom: 1px solid #a87b62;
    transform: rotate(135deg);
    top: 54px;
    right: 51px;
    box-sizing: border-box;
  }

  &:hover {
    color: #a87b62;
  }

  &:hover::before {
    border-left: 1.6px solid #a87b62;
    border-bottom: 1.6px solid #a87b62;
  }
}

.questions__item span {
  font-family: $sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #1d1613;
  max-width: 53%;
  padding: 7px 0 42px 50px;
  display: block;
  margin: 0 0 0 0;
}


@media (max-width: $desktop-width) {
  .questions {
    padding: 0;
    margin: 0 0 67px 0;
    width: 100%;
  }

  .questions__wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 45px;
  }

  .questions__wrapper h2 {
    font-family: $serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #1d1613;
  }

  .questions__list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #a87b62;
    box-sizing: border-box;
  }

  .questions__item {
    padding: 0 0 0 0;
  }

  .questions__item:not(:last-child) {
    border-bottom: 1px solid #a87b62;
    box-sizing: border-box;
  }

  .questions__item p {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #1d1613;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    padding: 43px 40px 10px 50px;
    //margin: 0 0 50px 0;

    &::before {
      @include pseudo;
      width: 17px;
      height: 17px;
      border-left: 1px solid #a87b62;
      border-bottom: 1px solid #a87b62;
      transform: rotate(135deg);
      top: 52px;
      right: 52px;
      box-sizing: border-box;
    }

    &:hover {
      color: #a87b62;
    }

    &:hover::before {
      border-left: 1.6px solid #a87b62;
      border-bottom: 1.6px solid #a87b62;
    }
  }

  .questions__item span {
    font-family: $sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #1d1613;
    max-width: 80%;
    padding: 16px 0 44px 50px;
    display: block;
    margin: 0 0 0 0;
  }
}

@media (max-width: $tablet-width) {
  .questions {
    padding: 0;
    margin: 0 0 49px 0;
    width: 100%;
  }

  .questions__wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .questions__wrapper h2 {
    font-family: $serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #1d1613;
    margin-bottom: 29px;
  }

  .questions__list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #a87b62;
    box-sizing: border-box;
  }

  .questions__item {
    padding: 0 0 0 0;
  }

  .questions__item:not(:last-child) {
    border-bottom: 1px solid #a87b62;
    box-sizing: border-box;
  }

  .questions__item p {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1d1613;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    padding: 16px 25px 9px;
    max-width: 90%;

    &::before {
      @include pseudo;
      width: 14px;
      height: 14px;
      border-left: 1px solid #a87b62;
      border-bottom: 1px solid #a87b62;
      transform: rotate(135deg);
      top: 26px;
      right: -2px;
      box-sizing: border-box;
    }

    &:hover {
      color: #a87b62;
    }

    &:hover::before {
      border-left: 1.6px solid #a87b62;
      border-bottom: 1.6px solid #a87b62;
    }
  }

  .questions__item span {
    font-family: $sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #1d1613;
    max-width: 71%;
    padding: 4px 25px 20px 25px;
    display: block;
    margin: 0 0 0 0;
  }
}
