.shopwindow__list {
  width: 100%;
  flex-wrap: wrap;
  padding: 0 0 0 0;
  box-sizing: border-box;
  margin: 0;
}

.shopwindow__pagination {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 36px 0 0 31px;
  box-sizing: border-box;

  &::before {
    @include pseudo;
    width: 100vw;
    height: 1px;
    transform: scaleX(2);
    background: #f6f5f4;
    top: 0;
  }
}

.shopwindow__pages-list {
  margin: 0;
  list-style-type: none;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  counter-reset: flag;
  box-sizing: border-box;
  padding: 0 18px 0 0;
}

.shopwindow__pagination-button {
  display: block;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}

.shopwindow__pagination-button span {
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #1d1613;
}

.shopwindow__pages-item {
  margin: 0 13px 0 0;
}

.shopwindow__pages-item a {
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;

  &::after {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #9b9997;
    content: ""counter(flag);
    counter-increment: flag;
  }

  &:hover {
    opacity: 0.6;
  }
}

.shopwindow__pages-item--active a {
  cursor: unset;

  &::after {
    color: #1d1613;
  }

  &:hover {
    opacity: unset;
  }
}

@media (max-width: $desktop-width) {
  .shopwindow__list {
    width: 100%;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    box-sizing: border-box;
    margin: 0;
  }

  .shopwindow__pagination {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 36px 0 0 0;
    box-sizing: border-box;

    &::before {
      @include pseudo;
      width: 100vw;
      height: 1px;
      transform: scaleX(2);
      background: #f6f5f4;
      top: 0;
    }
  }

  .shopwindow__pages-list {
    margin: 0;
    list-style-type: none;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    counter-reset: flag;
    box-sizing: border-box;
    padding: 0 18px 0 0;
  }

  .shopwindow__pagination-button {
    display: block;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
    }
  }

  .shopwindow__pagination-button span {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #1d1613;
  }

  .shopwindow__pages-item {
    margin: 0 13px 0 0;
  }

  .shopwindow__pages-item a {
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 0;

    &::after {
      font-family: $sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: #9b9997;
      content: ""counter(flag);
      counter-increment: flag;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .shopwindow__pages-item--active a {
    cursor: unset;

    &::after {
      color: #1d1613;
    }

    &:hover {
      opacity: unset;
    }
  }
}

@media (max-width: $tablet-width) {
  .shopwindow__list {
    width: 100%;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    box-sizing: border-box;
    margin: 0;
  }

  .shopwindow__pagination {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 18px 0 0 0;
    box-sizing: border-box;

    &::before {
      @include pseudo;
      width: 100vw;
      height: 1px;
      transform: scaleX(2);
      background: #f6f5f4;
      top: 0;
    }
  }

  .shopwindow__pages-list {
    margin: 0 auto;
    list-style-type: none;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    counter-reset: flag;
    box-sizing: border-box;
    padding: 0 0 0 24px;
  }

  .shopwindow__pagination-button {
    display: none;
  }

  .shopwindow__pagination-button span {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #1d1613;
  }

  .shopwindow__pages-item {
    margin: 0 23px 0 0;
  }

  .shopwindow__pages-item a {
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 0;

    &::after {
      font-family: $sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: #9b9997;
      content: ""counter(flag);
      counter-increment: flag;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .shopwindow__pages-item--active a {
    cursor: unset;

    &::after {
      color: #1d1613;
    }

    &:hover {
      opacity: unset;
    }
  }
}
