// Viewports

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

//Safe fonts

$sans-serif:"Poppins", "Arial", sans-serif;

$serif: "Cormorant Garamond", "Georgia", serif;

//Colors

$white: #ffffff;
