.js__styles-swiper-list--no-js {
  overflow-x: scroll;
}

.js__styles-swiper-item--no-js {
  margin-right: 30px;
}

.js__styles-swiper-button--no-js {
  display: none;
}

@media (max-width: $desktop-width) {

  .js__styles-swiper-list--no-js {
    overflow-x: scroll;
  }

  .js__styles-swiper-item--no-js {
    margin-right: 30px;
  }

  .js__swiper-button--no-js {
    display: none;
  }

  .js__menu--hidden {
    display: none;
  }

  .js__menu-color--change {
    background: #ffffff;
  }

  .js__cart-color--change svg {
    stroke: #1d1613;
  }

  .js__logo-color--change svg {
    fill: #a87b62;
  }

  .js__button-color--change::before {
    background: #1d1613;
    box-shadow: 0 6px 0 0 #1d1613, 0 -6px 0 0 #1d1613;
  }

  .js__menu-button--show {
    display: block;
  }
}

@media (max-width: $tablet-width) {
  .js__styles-swiper-list--no-js {
    overflow-x: scroll;
    width: 100%;
  }

  .js__styles-swiper-item--no-js {
    margin-right: 30px;
  }
}
